<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Манипулирование-данными" data-toc-modified-id="Манипулирование-данными-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Манипулирование данными</a></span></li><li><span><a href="#Чистка-данных" data-toc-modified-id="Чистка-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Чистка данных</a></span><ul class="toc-item"><li><span><a href="#Пропущенные-значения" data-toc-modified-id="Пропущенные-значения-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Пропущенные значения</a></span><ul class="toc-item"><li><span><a href="#Поиск-и-удаление" data-toc-modified-id="Поиск-и-удаление-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Поиск и удаление</a></span></li><li><span><a href="#Заполнение" data-toc-modified-id="Заполнение-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Заполнение</a></span></li><li><span><a href="#Интерполяция-пропущенных-значений" data-toc-modified-id="Интерполяция-пропущенных-значений-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Интерполяция пропущенных значений</a></span></li></ul></li><li><span><a href="#Повторяющиеся-значения-/-Замена-значений-/-Применение-функций" data-toc-modified-id="Повторяющиеся-значения-/-Замена-значений-/-Применение-функций-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Повторяющиеся значения / Замена значений / Применение функций</a></span><ul class="toc-item"><li><span><a href="#Повторяющиеся-значения" data-toc-modified-id="Повторяющиеся-значения-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Повторяющиеся значения</a></span></li><li><span><a href="#Замена-значений" data-toc-modified-id="Замена-значений-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Замена значений</a></span></li><li><span><a href="#Применение-функций" data-toc-modified-id="Применение-функций-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Применение функций</a></span></li></ul></li><li><span><a href="#Математические-операции" data-toc-modified-id="Математические-операции-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Математические операции</a></span><ul class="toc-item"><li><span><a href="#Сводка-статистик" data-toc-modified-id="Сводка-статистик-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Сводка статистик</a></span></li><li><span><a href="#Арифметические-операции" data-toc-modified-id="Арифметические-операции-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>Арифметические операции</a></span></li></ul></li><li><span><a href="#Одномерные-статистики" data-toc-modified-id="Одномерные-статистики-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Одномерные статистики</a></span></li></ul></li></ul></div>

In [1]:
#Импорт библиотек
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

# Загрузка данных

In [2]:
#Загрузка данных из файла

df=pd.read_csv("diamonds.csv")

In [3]:
#Загрузка данных из файла - 3 строки

df.head(3)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31

In [4]:
#Загрузка данных из файла с изменением названия столбцов на более понятные названия

df.rename(columns={'Unnamed: 0': 'number', 'cut': 'quality'}, inplace=True)
df.head()

   number  carat  quality color clarity  depth  table  price     x     y     z
0       1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
#Загрузка данных из файла с изменением названия столбцов на более понятные названия и с индексацией по выбранному Вами столбцу
df.set_index('number')

        carat    quality color clarity  depth  table  price     x     y     z
number
1        0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2        0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3        0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4        0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5        0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...       ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53936    0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937    0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938    0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939    0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940    0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [6]:
# Свойства датафрейма: тип данных, объем (размер структуры) данных 3 способами
# Ваш код
# df.info()
print("type: \n", df.dtypes, "\n")
print("size:\n", df.size, "\n")
print("shape:\n", df.shape, "\n")

type:
 number       int64
carat      float64
quality     object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

size:
 593340

shape:
 (53940, 11)

# Манипулирование данными

In [7]:
#Уникальные элементы

df['quality'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [8]:
#Индексы в датафрейме (названия строк)
df.index

RangeIndex(start=0, stop=53940, step=1)

In [9]:
#Значения в датафрейме
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [10]:
#Названия столбцов в датафрейме
df.columns

Index(['number', 'carat', 'quality', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [11]:
#Вывести первые 5 столбцов в датафрейме

print(df.head())
#Вывести последние 5 столбцов в датафрейме

df[-5:]
#Вывести первые 8 столбцов в датафрейме

df[:8]
#Вывести последние 11 столбцов в датафрейме

df[-11:]

   number  carat  quality color clarity  depth  table  price     x     y     z
0       1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

,number,carat,quality,color,clarity,depth,table,price,x,y,z
53929,53930,0.71,Ideal,G,VS1,61.4,56.0,2756,5.76,5.73,3.53
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53932,53933,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47
53933,53934,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [12]:
#Вывести строку по индексу

df.iloc[2]
#Вывести строку по названию индекса

df.loc[4]
#Вывести 2 строки по названиям индексов

df.iloc[0:2]

   number  carat  quality color clarity  depth  table  price     x     y     z
0       1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [13]:
#Вывести срез датафрейма - с 5 по 10 строки несколькими способами (loc, iloc, index.get_loc, at, iat)
print(df.iloc[5:11])
print(df.loc[5:10])
print(df.iloc[df.index.get_loc(5):df.index.get_loc(10)+1])
df_slice_iat = pd.DataFrame()
for i in range(4, 10):
    row = df.iloc[i]
    df_slice_iat = pd.concat([df_slice_iat, row.to_frame().T])
print(df_slice_iat)

    number  carat    quality color clarity  depth  table  price     x     y  \
5        6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96
6        7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98
7        8   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11
8        9   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78
9       10   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05
10      11   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28

       z
5   2.48
6   2.47
7   2.53
8   2.49
9   2.39
10  2.73
    number  carat    quality color clarity  depth  table  price     x     y  \
5        6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96
6        7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98
7        8   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11
8        9   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78
9       10   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05
10      11   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28

       z
5   2.48
6   2.47
7   2.53
8   2.49
9   2.39
10  2.73
    number  carat    quality color clarity  depth  table  price     x     y  \
5        6   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96
6        7   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98
7        8   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11
8        9   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78
9       10   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05
10      11   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28

       z
5   2.48
6   2.47
7   2.53
8   2.49
9   2.39
10  2.73
  number carat    quality color clarity depth table price     x     y     z
4      5  0.31       Good     J     SI2  63.3  58.0   335  4.34  4.35  2.75
5      6  0.24  Very Good     J    VVS2  62.8  57.0   336  3.94  3.96  2.48
6      7  0.24  Very Good     I    VVS1  62.3  57.0   336  3.95  3.98  2.47
7      8  0.26  Very Good     H     SI1  61.9  55.0   337  4.07  4.11  2.53
8      9  0.22       Fair     E     VS2  65.1  61.0   337  3.87  3.78  2.49
9     10  0.23  Very Good     H     VS1  59.4  61.0   338   4.0  4.05  2.39

In [14]:
# Вывести срез датафрейма - с 5 по 10 строки и с 3 по 6 столбцы несколькими способами (loc, iloc, index.get_loc, at, iat, индексации)
df.loc[5:10, 'quality':'depth']
df.iloc[5:11,2:6]
df.iloc[5:11, df.columns.get_loc('quality'):df.columns.get_loc('depth')+1]
df[5:11].iloc[:,2:6]

      quality color clarity  depth
5   Very Good     J    VVS2   62.8
6   Very Good     I    VVS1   62.3
7   Very Good     H     SI1   61.9
8        Fair     E     VS2   65.1
9   Very Good     H     VS1   59.4
10       Good     J     SI1   64.0

In [15]:
#Выполнить транспонирование (замена строк на столбцы)
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,53930,53931,53932,53933,53934,53935,53936,53937,53938,53939
number,1,2,3,4,5,6,7,8,9,10,...,53931,53932,53933,53934,53935,53936,53937,53938,53939,53940
carat,0.23,0.21,0.23,0.29,0.31,0.24,0.24,0.26,0.22,0.23,...,0.71,0.71,0.7,0.7,0.72,0.72,0.72,0.7,0.86,0.75
quality,Ideal,Premium,Good,Premium,Good,Very Good,Very Good,Very Good,Fair,Very Good,...,Premium,Premium,Very Good,Very Good,Premium,Ideal,Good,Very Good,Premium,Ideal
color,E,E,E,I,J,J,I,H,E,H,...,E,F,E,E,D,D,D,D,H,D
clarity,SI2,SI1,VS1,VS2,SI2,VVS2,VVS1,SI1,VS2,VS1,...,SI1,SI1,VS2,VS2,SI1,SI1,SI1,SI1,SI2,SI2
depth,61.5,59.8,56.9,62.4,63.3,62.8,62.3,61.9,65.1,59.4,...,60.5,59.8,60.5,61.2,62.7,60.8,63.1,62.8,61.0,62.2
table,55.0,61.0,65.0,58.0,58.0,57.0,57.0,55.0,61.0,61.0,...,55.0,62.0,59.0,59.0,59.0,57.0,55.0,60.0,58.0,55.0
price,326,326,327,334,335,336,336,337,337,338,...,2756,2756,2757,2757,2757,2757,2757,2757,2757,2757
x,3.95,3.89,4.05,4.2,4.34,3.94,3.95,4.07,3.87,4.0,...,5.79,5.74,5.71,5.69,5.69,5.75,5.69,5.66,6.15,5.83
y,3.98,3.84,4.07,4.23,4.35,3.96,3.98,4.11,3.78,4.05,...,5.74,5.73,5.76,5.72,5.73,5.76,5.75,5.68,6.12,5.87
z,2.43,2.31,2.31,2.63,2.75,2.48,2.47,2.53,2.49,2.39,...,3.49,3.43,3.47,3.49,3.58,3.5,3.61,3.56,3.74,3.64

In [16]:
#Выполнить реиндексацию - добавить новый индекс в строке и в столбце
df.reindex([len(df.index)], columns=['bruh'])

       bruh
53940   NaN

In [17]:
#Вывести пять случайных строк из датафрейма
df.sample(5)

,number,carat,quality,color,clarity,depth,table,price,x,y,z
33778,33779,0.32,Ideal,D,VS2,61.8,55.0,842,4.43,4.41,2.73
48805,48806,0.50,Ideal,F,VVS2,62.0,53.6,2025,5.09,5.13,3.18
2017,2018,0.90,Ideal,I,SI2,62.8,55.0,3104,6.19,6.14,3.87
16786,16787,1.50,Good,J,SI1,59.1,64.0,6687,7.32,7.43,4.36
46118,46119,0.52,Ideal,G,VS1,62.1,54.0,1743,5.17,5.14,3.20

In [18]:
# Поменять установку вывода на экран количества строк с умолчания на 120 строк, столбцов на 3
pd.options.display.max_columns = 3
pd.options.display.max_rows = 120

In [19]:
#Добавить новую строку в датафрейм
pd.options.display.max_columns = 12
pd.options.display.max_rows = 15
df.loc[len(df.index)]=0
df[-1:]

       number  carat quality color clarity  depth  table  price    x    y    z
53940       0    0.0       0     0       0    0.0    0.0      0  0.0  0.0  0.0

In [20]:
#Добавить новый столбец в датафрейм
df['new_col']=True
df.head()

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,True

In [21]:
#Напишите следующий код, который удалит столбец и возвратит его как серию
#вернет новый датафрейм с удаленным столбцом
#Копия датафрейма не изменится
new_df=df.drop('new_col',axis=1)
new_df

,number,carat,quality,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64
53940,0,0.00,0,0,0,0.0,0.0,0,0.00,0.00,0.00

In [22]:
#По одному столбцу проверьте - Какие строки имеют значение больше значения и меньше другого значения
df[(df['depth']>50) & (df['depth']<55)]

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
443,444,0.96,Fair,E,SI2,53.1,63.0,2815,6.73,6.65,3.55,True
712,713,0.98,Fair,E,SI2,53.3,67.0,2855,6.82,6.74,3.61,True
713,714,1.02,Fair,I,SI1,53.0,63.0,2856,6.84,6.77,3.66,True
10464,10465,1.08,Fair,E,SI1,53.8,63.0,4790,6.99,6.81,3.71,True
11241,11242,1.26,Fair,G,SI2,53.2,61.0,4966,7.44,7.36,3.94,True
...,...,...,...,...,...,...,...,...,...,...,...,...
42256,42257,0.56,Fair,H,VS2,52.7,70.0,1293,5.71,5.57,2.97,True
42804,42805,0.53,Good,D,SI2,54.3,65.0,1352,5.46,5.51,2.98,True
47775,47776,0.70,Fair,D,SI1,52.2,65.0,1895,6.04,5.99,3.14,True
49805,49806,0.73,Fair,F,SI2,53.4,65.0,2164,6.19,6.15,3.30,True
53542,53543,0.78,Fair,H,VS2,54.7,67.0,2691,6.25,6.15,3.40,True

In [23]:
#По одному столбцу проверьте - все ли значения равны определенному значению
(df['depth']==50).all()

False

In [24]:
# По одному столбцу проверьте - Есть ли элемент меньше 2
(df['depth'] <2).any()

True

In [25]:
#Какие строки имеют значение меньше определенного значения
df[df['depth']<50]

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
4518,4519,1.00,Fair,G,SI1,43.0,59.0,3634,6.32,6.27,3.97,True
6341,6342,1.00,Fair,G,VS2,44.0,53.0,4032,6.31,6.24,4.12,True
10377,10378,1.09,Ideal,J,VS2,43.0,54.0,4778,6.53,6.55,4.12,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.00,0.00,0.00,True

In [26]:
#Теперь получим строки, где результат меньше вышеобозначенного значения
df[df['depth'] < 45]

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
4518,4519,1.00,Fair,G,SI1,43.0,59.0,3634,6.32,6.27,3.97,True
6341,6342,1.00,Fair,G,VS2,44.0,53.0,4032,6.31,6.24,4.12,True
10377,10378,1.09,Ideal,J,VS2,43.0,54.0,4778,6.53,6.55,4.12,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.00,0.00,0.00,True

In [27]:
#Извлекаем лишь те строки, где значения столбца меньше одного значения и больше другого
df[(df['depth']<50) | (df['depth']>70)]

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
4307,4308,0.99,Fair,H,VS2,71.6,57.0,3593,5.94,5.80,4.20,True
4518,4519,1.00,Fair,G,SI1,43.0,59.0,3634,6.32,6.27,3.97,True
6341,6342,1.00,Fair,G,VS2,44.0,53.0,4032,6.31,6.24,4.12,True
8014,8015,1.50,Fair,I,SI2,70.1,58.0,4328,6.96,6.85,4.84,True
8186,8187,1.50,Fair,I,I1,71.3,58.0,4368,6.85,6.81,4.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...
51928,51929,0.96,Fair,G,SI2,72.2,56.0,2438,6.01,5.81,4.28,True
52860,52861,0.50,Fair,E,VS2,79.0,73.0,2579,5.21,5.18,4.09,True
52861,52862,0.50,Fair,E,VS2,79.0,73.0,2579,5.21,5.18,4.09,True
53540,53541,0.90,Fair,G,SI1,72.9,54.0,2691,5.74,5.67,4.16,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.00,0.00,0.00,True

In [28]:
#Извлекаем строки, в которых одна переменная принимает значение текстовое, а переменная другая больше или равно определенного значения
df[(df['quality'].apply(lambda x: isinstance(x, str))) & (df['x'] >= 10)]

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
25998,25999,4.01,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17,True
25999,26000,4.01,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24,True
26444,26445,4.00,Very Good,I,I1,63.3,58.0,15984,10.01,9.94,6.31,True
27130,27131,4.13,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43,True
27415,27416,5.01,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98,True
27630,27631,4.50,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72,True

In [29]:
#Использование метода isin

In [30]:
#Использование метода copy для создания копии датафрейма
df_copy=df.copy()
df_copy

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.00,0.00,0.00,True

In [31]:
#Использование метода округления для определенного столбца
df['x']=df['x'].round(1)
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

In [32]:
#Создание расчетного столбца с использованием функции lambda
df_copy['pos']=df.apply(lambda row: row['x']*row['y']*row['z'],axis=1)
df_copy

,number,carat,quality,color,clarity,depth,...,price,x,y,z,new_col,pos
0,1,0.23,Ideal,E,SI2,61.5,...,326,3.95,3.98,2.43,True,38.68560
1,2,0.21,Premium,E,SI1,59.8,...,326,3.89,3.84,2.31,True,34.59456
2,3,0.23,Good,E,VS1,56.9,...,327,4.05,4.07,2.31,True,37.60680
3,4,0.29,Premium,I,VS2,62.4,...,334,4.20,4.23,2.63,True,46.72458
4,5,0.31,Good,J,SI2,63.3,...,335,4.34,4.35,2.75,True,51.43875
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,...,2757,5.69,5.75,3.61,True,118.31775
53937,53938,0.70,Very Good,D,SI1,62.8,...,2757,5.66,5.68,3.56,True,115.25856
53938,53939,0.86,Premium,H,SI2,61.0,...,2757,6.15,6.12,3.74,True,141.91056
53939,53940,0.75,Ideal,D,SI2,62.2,...,2757,5.83,5.87,3.64,True,123.92744
53940,0,0.00,0,0,0,0.0,...,0,0.00,0.00,0.00,True,0.00000

In [33]:
#Добавление / выравнивание / сортировка данных

# Чистка данных

## Пропущенные значения

### Поиск и удаление

In [34]:
#Какие элементы являются пропущенными значениями - NaN
df.isnull()

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,False,False,False,False,False,False,False,False,False,False,False,False
53937,False,False,False,False,False,False,False,False,False,False,False,False
53938,False,False,False,False,False,False,False,False,False,False,False,False
53939,False,False,False,False,False,False,False,False,False,False,False,False
53940,False,False,False,False,False,False,False,False,False,False,False,False

In [35]:
#Какие элементы являются непропущенными значениями - NaN
df.notnull()

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,True,True,True,True,True,True,True,True,True,True,True,True
53937,True,True,True,True,True,True,True,True,True,True,True,True
53938,True,True,True,True,True,True,True,True,True,True,True,True
53939,True,True,True,True,True,True,True,True,True,True,True,True
53940,True,True,True,True,True,True,True,True,True,True,True,True

In [36]:
#Подсчитываем количество значений NaN в каждом столбце
df.isnull().sum()

number     0
carat      0
quality    0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
new_col    0
dtype: int64

In [37]:
#Вычисляем количество значений, отличных от NaN, по каждому столбцу
df.notnull().sum()

number     53941
carat      53941
quality    53941
color      53941
clarity    53941
depth      53941
table      53941
price      53941
x          53941
y          53941
z          53941
new_col    53941
dtype: int64

In [38]:
#отбираем непропущенные значения в столбце с4
df['color'].notnull()

0        True
1        True
2        True
3        True
4        True
         ...
53936    True
53937    True
53938    True
53939    True
53940    True
Name: color, Length: 53941, dtype: bool

In [39]:
#извлечение в столбце определенном всех значений кроме NaN
df.dropna()

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

In [40]:
#Ниже удаляет лишь те строки, где все занчения NaN
df.dropna(how='all',inplace=True)
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

In [41]:
#меняем ось, чтобы удалить столбцы со значениями NaN вместо строк
df.dropna(axis=1,how='all',inplace=True)
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

In [42]:
# - создаем копию датафрейма
# - заменяем две ячейки с пропусками значениями 0

In [43]:
# удаляем те столбцы, в которых есть хотя бы одно значение NaN
df.dropna(how='any',inplace=True)
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

In [44]:
# удаляем те столбцы, где есть по меньшей мере 3 значения не NaN
df_copy.dropna(axis=1,thresh=3,inplace=True)
df_copy

,number,carat,quality,color,clarity,depth,...,price,x,y,z,new_col,pos
0,1,0.23,Ideal,E,SI2,61.5,...,326,3.95,3.98,2.43,True,38.68560
1,2,0.21,Premium,E,SI1,59.8,...,326,3.89,3.84,2.31,True,34.59456
2,3,0.23,Good,E,VS1,56.9,...,327,4.05,4.07,2.31,True,37.60680
3,4,0.29,Premium,I,VS2,62.4,...,334,4.20,4.23,2.63,True,46.72458
4,5,0.31,Good,J,SI2,63.3,...,335,4.34,4.35,2.75,True,51.43875
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,...,2757,5.69,5.75,3.61,True,118.31775
53937,53938,0.70,Very Good,D,SI1,62.8,...,2757,5.66,5.68,3.56,True,115.25856
53938,53939,0.86,Premium,H,SI2,61.0,...,2757,6.15,6.12,3.74,True,141.91056
53939,53940,0.75,Ideal,D,SI2,62.2,...,2757,5.83,5.87,3.64,True,123.92744
53940,0,0.00,0,0,0,0.0,...,0,0.00,0.00,0.00,True,0.00000

### Заполнение

In [45]:
# возвращаем новый датафрейм, в котором значения NaN заполнены константой - 0
df.fillna(value=0,inplace=True)
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

In [46]:
# значения NaN не учитываются при вычислении средних значений
round(df['carat'].mean(skipna=True),4)

0.7979

после замены значений NaN на 0 получаем другие средние значения

In [47]:
round(df['carat'].mean(),4)

0.7979

In [48]:
#  - method = "ffill"
df.fillna(method='ffill',inplace=True)
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

In [49]:
#обратное заполнение
df.fillna(method='backfill',inplace=True)

In [50]:
#  - fill_values
df.fillna(value=1,inplace=True)
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

In [51]:
# заполняем значения NaN средним значением этого столбца
df['carat'].fillna(df['carat'].mean(),inplace=True)
df

,number,carat,quality,color,clarity,depth,table,price,x,y,z,new_col
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,4.0,3.98,2.43,True
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.9,3.84,2.31,True
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.0,4.07,2.31,True
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.2,4.23,2.63,True
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.3,4.35,2.75,True
...,...,...,...,...,...,...,...,...,...,...,...,...
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.7,5.75,3.61,True
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.7,5.68,3.56,True
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.2,6.12,3.74,True
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.8,5.87,3.64,True
53940,0,0.00,0,0,0,0.0,0.0,0,0.0,0.00,0.00,True

### Интерполяция пропущенных значений

* выполняем линейную интерполяцию (метод linear по умолчанию) значений NaN с 1 по 2  
* создаем переменной ряд, но при этом значение по одной дате будет пропущено  
* выполняем линейную интерполяцию на основе количества элементов в данной серии  
* ниже код учитывает тот факт, что отсутствует занчение даты 2022-03-01  
* создаем объект Series, чтобы продемонстрировать интерполяцию, основанную на индексных метках  
* интерполяция на основе значений индекса

## Повторяющиеся значения / Замена значений / Применение функций

### Повторяющиеся значения

In [52]:
# добавление дублирующих строк
df = pd.concat([df]*2, ignore_index=True)
# опрделение дублирующих строк
df[df.duplicated()]
# удаляем дублирующие строки, каждый раз оставляя первое из дублирующихся наблюдений
df.drop_duplicates(keep='first')
# удаляем дублирующие строки, каждый раз оставляя последнее из дублирующихся наблюдений
df.drop_duplicates(keep='last')
# добавляем столбец v
df['v']=0
# но если мы укажем, что нужно удалить дублирующие строки с учетом значений в двух столбцах
df.drop_duplicates(subset={'carat','color'},keep='first',inplace=True)

### Замена значений

сопоставляем значения двух числовых столбцов

если между значениями двух столбцов не будет найдено соотвествие, будет выдано значение NaN

замена одного значения на другое

заменяем все значения на новые

заменяем элементы, используя в качестве аргумента словарь

создаем датафрейм с двумя столбцами

задаем разные заменяемые значения для каждого столбца

In [53]:
# сопоставляем значения двух числовых столбцов если между значениями двух столбцов не будет найдено соотвествие, будет выдано значение NaN
df_merge = pd.merge(df['carat'], df['color'], left_index=True, right_index=True)
df_merge
# замена одного значения на другое
df_merge['color'].replace()
df_merge

       carat color
0       0.23     E
1       0.21     E
3       0.29     I
4       0.31     J
5       0.24     J
...      ...   ...
48853   0.82     J
48941   0.69     E
50763   0.87     J
51470   0.84     J
53940   0.00     0

[1469 rows x 2 columns]

### Применение функций

In [54]:
# вычисляем сумму элементов в каждом числововм столбце используя функцию lambda
df.apply(lambda x: x.sum() if x.dtype != "object" else "", axis=0)
# вычисляем сумму элементов в каждой строке

# создаем новый столбец interim путем умножения столбцов a и b
df['interim'] = df['price']*df['carat']
# получаем столбец result путем сложения столбцов interim и c
df['result'] = df['interim']+df['table']
# используем метод для всех значений датафрейма для изменения формата всех элементов объекта датафрема

## Математические операции

### Сводка статистик

In [55]:
# Сводка статистики для датафрейма, с которым работаем как с обычным датафреймом
df.describe()
# Сводка статистики для отдельного столбца
df['carat'].describe()
# Сводка статистики для нечисловых данных
df.value_counts()
# Информация о датафрейме
df.info()
# Сводная статистика для нечисловых данных
df.describe(include=['object', 'bool'])

<class 'pandas.core.frame.DataFrame'>
Index: 1469 entries, 0 to 53940
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   number   1469 non-null   int64
 1   carat    1469 non-null   float64
 2   quality  1469 non-null   object
 3   color    1469 non-null   object
 4   clarity  1469 non-null   object
 5   depth    1469 non-null   float64
 6   table    1469 non-null   float64
 7   price    1469 non-null   int64
 8   x        1469 non-null   float64
 9   y        1469 non-null   float64
 10  z        1469 non-null   float64
 11  new_col  1469 non-null   bool
 12  v        1469 non-null   int64
 13  interim  1469 non-null   float64
 14  result   1469 non-null   float64
dtypes: bool(1), float64(8), int64(3), object(3)
memory usage: 205.9+ KB

        quality color clarity new_col
count      1469  1469    1469    1469
unique        6     8       9       1
top     Premium     H     SI2    True
freq        470   241     714    1469

### Арифметические операции

In [56]:
# примеры арифметических операций со столбцами и строками

## Одномерные статистики

In [75]:
# максимальные значения
df.describe().max()
# # индекс строки, где максимальные значения
df.select_dtypes(include='number').idxmax()
# Среднее значение для всех столбцов датафрейма
df.describe().mean()
# усредненное значение по всем столбцам для каждой строки
df.describe().mean(axis=1)
# # медиана значений для каждого столбца
df.describe().median()
# мода для столбца мод может быть несколько, поэтому результат операции - Series
df.mode()
# вычисляем дисперсию значений в каждом столбце
df.select_dtypes(include='number').var()
# вычисляем среднеквадратичное отклонение
df.select_dtypes(include='number').std()
# вычисляем ковариацию между MSFT и AAPL
print("ковариация:", df['x'].cov(df['y']))
# вычисляем корелляцию между MSFT и AAPL
print("корелляция:", df['x'].corr(df['y']))

ковариация: 1.8119443614907917
корелляция: 0.997567765258984